// Change the message API password and place it in a file named message_config.h in the credentials folder
// This file will be omitted from version control via gitignore
// Leave empty string "" to disable password protection

#define MESSAGE_API_PASSWORD "ChangeMe"
