// Change the OTA static password and place it in a file named ota_config.h in the credentials folder
// This file will be omitted from version control via gitignore

#define OTA_STATIC_PASSWORD "ChangeMe"
